<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
        <a href="/feed.xml">atom feed</a>, content © Jason Clark (<a href="https://twitter.com/jasonrclark">@jasonrclark</a>).<br>
        <a href="/about/">Theme crafted with &lt;3</a> by <a href="http://johnotander.com">John Otander</a> (<a href="https://twitter.com/4lpine">@4lpine</a>).<br>
        <a href="https://www.flaticon.com/free-icons/octopus" title="octopus icons">octopus icons created by istar_design_bureau - Flaticon</a><br>
      </small>
    </div>
  </div>
</footer>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
