name: Reading List on Issue open

on:
  issues:
    types: [opened, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.issue.user.login == 'jasonrclark'
    steps:
      - uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2
      - uses: octokit/request-action@v2.x
        id: get_issue
        with:
          route: GET /repos/jasonrclark/jasonrclark.github.io/issues/${{ github.event.issue.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run a multi-line script
        run: |
          scripts/reading-list.rb "${{ fromJson(steps.get_issue.outputs.data).body }}"

          git config --global user.email "jason@jasonrclark.net"
          git config --global user.name "Jason R. Clark"
          git status
          git diff
          git add reading.html _posts
          git commit -m "Reading

          Closes #${{ github.event.issue.number }}"
          git push origin main
